<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>First Name</th>
        <th>Second Name</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.getFirstName()}">name</td>
        <td th:text="${user.getSecondName()}">surname</td>
        <td th:text="${user.getAge()}">age</td>
    </tr>
    </tbody>
</table>
<p/>
<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a>
<br/>
<hr/>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <input type="submit" value="Delete!">
</form>

</body>
</html>